{% extends "base.html" %} 
    {% load static %}
    {% comment %} {% load wishlist_tags %} {% endcomment %}
    {% block content %}



    


   
  
    <!-- product-details-start -->
        <div class="product-details mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="product__details-nav d-sm-flex align-items-start">
                            <ul class="nav nav-tabs flex-sm-column justify-content-between" id="productThumbTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="thumb-{{first}}-tab" data-bs-toggle="tab" data-bs-target="#thumb-{{first}}" type="button" role="tab" aria-controls="thumb-{{first}}" aria-selected="true">
                                      <img src="{{product.featured_image}}" style="height:85px; width:85px" alt="">
                                  </button>
                                </li>
                                {% for proimage in product.additional_images_set.all %}
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="thumb-{{proimage.id}}-tab" data-bs-toggle="tab" data-bs-target="#thumb-{{proimage.id}}" type="button" role="tab" aria-controls="thumb-{{proimage.id}}" aria-selected="false">
                                    <img src="{{proimage.image}}" style="height:85px; width:85px" alt="">
                                  </button>
                                </li>
                                {% endfor %}
                                
                            </ul>
                            <div class="product__details-thumb">
                                <div class="tab-content" id="productThumbContent">
                                    <div class="tab-pane fade show active" id="thumb-{{first}}" role="tabpanel" aria-labelledby="thumb-{{first}}-tab">
                                        <div class="product__details-nav-thumb w-img">
                                            <img src="{{product.featured_image}}" style="height:562.5px; width:562.5px" alt="">
                                        </div>
                                    </div>
                                    {% for proimage in product.additional_images_set.all %}
                                    <div class="tab-pane fade" id="thumb-{{proimage.id}}" role="tabpanel" aria-labelledby="thumb-{{proimage.id}}-tab">
                                        <div class="product__details-nav-thumb w-img">
                                            <img src="{{proimage.image}}" style="height:540.5px; width:540.5px" alt="">
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                  </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-xl-6">
                        <div class="product__details-content">
                            <h6>{{product.title}}</h6>
                            <div class="pd-rating mb-10">
                                <ul class="rating">
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                </ul>
                                <span>(01 review)</span>
                                <span><a href="#">Add your review</a></span>
                            </div>
                            <div class="price mb-10">
                                <span>${{product.price}}</span>
                            </div>
                            <div class="features-des mb-20 mt-10">
                                <ul>
                                    {% for info in  product.additional_information_set.all %}
                                    <li><a href="product-details.html"><i class="fas fa-circle"></i>{{info.title}}:{{info.spec}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="product-stock mb-20">
                                <h5>Availability: <span> {{product.available}} in stock</span></h5>
                            </div>
                            <input type="hidden" class="product_pid" value="{{product.pid}}">
                            <div class="cart-option mb-15">
                                <div class="product-quantity mr-20">
                                    <div class="cart-plus-minus p-relative"><input type="text" class="product_qty" value="1"><div class="dec qtybutton">-</div><div class="inc qtybutton">+</div></div>
                                </div>
                                <button type="button" class="cart-btn">Add to Cart</button>
                            </div>
                            <div class="details-meta">
                                <div class="d-meta-left">
                                    <div class="dm-item mr-20">
                                        {% comment %} {% if is_in_wishlist product.pid %}
                                            <p>This product is in your wishlist!</p>
                                        {% else %} {% endcomment %}
                                            <button type="button" class="wishlist-btn"><i class="fal fa-heart"></i>Add to wishlist</button>
                                        {% comment %} {% endif %} {% endcomment %}
                                    </div>
                                    <div class="dm-item">
                                        <a href="#"><i class="fal fa-layer-group"></i>Compare</a>
                                    </div>
                                </div>
                                <div class="d-meta-left">
                                    <div class="dm-item">
                                        <a href="#"><i class="fal fa-share-alt"></i>Share</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tag-area mt-15">
                                <div class="product_info">
                                    <span class="sku_wrapper">
                                        <span class="title">SKU:</span>
                                        <span class="sku">{{product.sku}}</span>
                                    </span>
                                    <span class="posted_in">
                                        <span class="title">Categories:</span>
                                        <a href="#">{{product.category}}</a>
                                        
                                    </span>
                                    <span class="tagged_as">
                                        <span class="title">Tags:</span>
                                        <a href="#">{{product.tags}}</a>, 
                                        
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product-details-end -->

        <!-- product-details-des-start -->
        <div class="product-details-des mt-40 mb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="product__details-des-tab">
                            <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des" type="button" role="tab" aria-controls="des" aria-selected="true">Description </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="aditional-tab" data-bs-toggle="tab" data-bs-target="#aditional" type="button" role="tab" aria-controls="aditional" aria-selected="false">Additional information</button>
                                  </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Reviews (1) </button>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="prodductDesTaContent">
                    <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                        <div class="product__details-des-wrapper">
                            {{product.description | safe}}
                        </div>
                    </div>

                
                    <div class="tab-pane fade" id="aditional" role="tabpanel" aria-labelledby="aditional-tab">
                        <div class="product__desc-info">
                            <ul>
                            {% for addinfo in product.additional_information_set.all %}
                               <li>
                                  <h6>{{addinfo.title}}</h6>
                                  <span>{{addinfo.spec}}</span>
                               </li>
                            {% endfor %}
                            </ul>
                         </div>
                    </div>
                
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="product__details-review">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="review-rate">
                                        <h5>5.00</h5>
                                        <div class="review-star">
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                            <a href="#"><i class="fas fa-star"></i></a>
                                        </div>
                                        <span class="review-count">01 Review</span>
                                    </div>
                                </div>
                                <div class="col-xl-8">
                                    <div class="review-des-infod">
                                        <h6>1 review for "<span>Wireless Bluetooth Over-Ear Headphones</span>"</h6>
                                        <div class="review-details-des">
                                            <div class="author-image mr-15">
                                                <a href="#"><img src="assets/img/author/author-sm-1.jpg" alt=""></a>
                                            </div>
                                            <div class="review-details-content">
                                                <div class="str-info">
                                                    <div class="review-star mr-15">
                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                        <a href="#"><i class="fas fa-star"></i></a>
                                                    </div>
                                                    <div class="add-review-option">
                                                        <a href="#">Add Review</a>
                                                    </div>
                                                </div>
                                                <div class="name-date mb-30">
                                                    <h6> admin – <span> May 27, 2021</span></h6>
                                                </div>
                                                <p>A light chair, easy to move around the dining table and about the room. Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="product__details-comment ">
                                        <div class="comment-title mb-20">
                                           <h3>Add a review</h3>
                                           <p>Your email address will not be published. Required fields are marked *</p>
                                        </div>
                                        <div class="comment-rating mb-20">
                                           <span>Overall ratings</span>
                                           <ul>
                                              <li><a href="#"><i class="fas fa-star"></i></a></li>
                                              <li><a href="#"><i class="fas fa-star"></i></a></li>
                                              <li><a href="#"><i class="fas fa-star"></i></a></li>
                                              <li><a href="#"><i class="fas fa-star"></i></a></li>
                                              <li><a href="#"><i class="fas fa-star"></i></a></li>
                                           </ul>
                                        </div>
                                        <div class="comment-input-box">
                                           <form action="#">
                                              <div class="row">
                                                <div class="col-xxl-6 col-xl-6">
                                                    <div class="comment-input">
                                                       <input type="text" placeholder="Your Name">
                                                    </div>
                                                 </div>
                                                 <div class="col-xxl-6 col-xl-6">
                                                    <div class="comment-input">
                                                       <input type="email" placeholder="Your Email">
                                                    </div>
                                                 </div>
                                                 <div class="col-xxl-12">
                                                       <textarea placeholder="Your review" class="comment-input comment-textarea"></textarea>
                                                 </div>
                                                 <div class="col-xxl-12">
                                                    <div class="comment-agree d-flex align-items-center mb-25">
                                                       <div class="form-check">
                                                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                          <label class="form-check-label" for="flexCheckDefault">
                                                           Save my name, email, and website in this browser for the next time I comment.
                                                          </label>
                                                        </div>
                                                    </div>
                                                 </div>
                                                 <div class="col-xxl-12">
                                                    <div class="comment-submit">
                                                       <button type="submit" class="cart-btn">Submit</button>
                                                    </div>
                                                 </div>
                                              </div>
                                           </form>
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product-details-des-end -->

        

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

<script>
    $(document).ready(function(){
        $('.cart-btn').click(function () {
            console.log("Add to Cart button clicked");

            var pid = $('.product_pid').val();
            console.log(pid)
            var product_qty = $('.product_qty').val();

            $.ajax({
                type: "POST",
                url: "{% url 'add_to_cart' %}",
                data: {
                    'pid': pid,
                    'product_qty': product_qty,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log("Response from server:", response);
                    // You can add further actions here based on the response
                    if (response.message === "added to cart"){
                        Swal.fire({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                            
                            text: response.message,
                            icon: 'success'
                            });
                        }else if(response.message === "product is already in the cart"){
                            Swal.fire({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                            
                            text: response.message,
                            icon: 'warning'
                            });
                        }
                            
                },
                error: function (xhr, status, error) {
                    console.error("Error in AJAX request:", status, error);
                    console.error("Response from server:", xhr.responseText);
                }
            });
        });

        $('.wishlist-btn').click(function (e) { 
            e.preventDefault();
            console.log("clicked")
            var pid = $('.product_pid').val();

            $.ajax({
                type: "POST",
                url: "{% url 'add_to_wishlist' %}",
                data: {
                    'pid': pid,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                
                success: function (response) {
                    
                    if(response.message === "Added to Wishlist"){
                        Swal.fire({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        
                        text: response.message,
                        icon: 'success'
                        });
                    }else{
                        console.log(response.message)
                        Swal.fire({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        
                        text: response.message,
                        icon: 'warning'
                        });
                    }
                }
            });
            
        });
    });

</script>
{% endblock %}
