{% extends "base.html" %} 
{% load static %}
{% block content %}
 
 
 
 
 
 <!-- cart-area-start -->
 <section class="cart-area pb-120 pt-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="product-price">Unit Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in wishlist %}
                                <tr>
                                    <td class="product-thumbnail"><a href="shop-details.html"><img src="{{item.product.featured_image}}" alt=""></a></td>
                                    <td class="product-name"><a href="shop-details.html">{{item.product.title | truncatechars:15}}</a></td>
                                    <td class="product-price"><span class="amount">${{item.product.price}}</span></td>
                                    <td class="product-quantity">
                                        <button class="tp-btn-h1" type="submit">Add To Cart</button>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">$130.00</span></td>
                                    <td class="product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
 <!-- cart-area-end -->

 {% endblock %}