 {% load static %}
 <!-- slider-area-start -->
 <div class="slider-area light-bg-s pt-60">
    <div class="container 0">
        <div class="row">
            <div class="col-xl-6">
                <div class="swiper-container slider__active pb-30">
                    <div class="slider-wrapper swiper-wrapper">
                        {% for slide in slider  %}
                        <div class="single-slider swiper-slide b-radius-2 slider-height-3 d-flex align-items-center" data-background="media/{{slide.image}}">
                            <div class="slider-content slider-content-2">
                                <div class="slider-top-btn mb-20" data-animation="fadeInLeft" data-delay="1.5s" style="animation-delay: 1.5s;">
                                    <a href="shop.html" class="st-btn b-radius">{{slide.deal}}</a>
                                </div>
                                <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">BIG SALE <br> {{slide.title}}</h2>
                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">Discount {{slide.discount}}% On Products</p>
                                <div class="slider-bottom-btn mt-65">
                                    <a data-animation="fadeInUp" data-delay="1.15s" href="shop.html" class="st-btn-border b-radius-2">Discover now</a>
                                </div>
                            </div>
                        </div><!-- /single-slider -->
                        {% endfor %}
                        <div class="main-slider-paginations"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">    
                    <div class="col-xl-6 col-lg-6">
                        <div class="row">
                            {% for subban in subbanner %}
                            <div class="col-xl-12 col-lg-12 col-sm-6">
                                <div class="banner__item p-relative w-img mb-30">
                                    <div class="banner__img banner__img-2 b-radius-2">
                                        <a href="product-details.html"><img src="media/{{subban.image}}" alt=""></a>
                                    </div>
                                    <div class="banner__content">
                                        <h6><a href="product-details.html">New Style <br>{{subban.title}}</a></h6>
                                        <p class="banner-p mt-30">Free Shipping {{subban.free_shipping_from}}km</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        {% for ban in banner %}
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img banner__img-3  b-radius-2">
                                <a href="product-details.html"><img src="media/{{ban.image}}" alt=""></a>
                            </div>
                            <div class="banner__content banner__content-3">
                                <div class="banner-df-btn mb-15">
                                    <a href="#" class="st-btn b-radius">{{ban.deal}}</a>
                                </div>
                                <p>Xbox Wireless</p>
                                <h6 class="df-title"><a href="product-details.html">{{ban.title}}</a></h6>
                                <div class="bottom-btn">
                                    <a href="shop.html" class="st-btn-border-2 b-radius">Discover now</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->
