 {% load static %}
 <!-- slider-area-start -->
 <div class="slider-area light-bg-s pt-60">
    <div class="container 0">
        <div class="row">
            <div class="col-xl-6">
                <div class="swiper-container slider__active pb-30">
                    <div class="slider-wrapper swiper-wrapper">
                        <div class="single-slider swiper-slide b-radius-2 slider-height-3 d-flex align-items-center" data-background="{% static "assets/img/slider/03-slide-1.jpg" %}">
                            <div class="slider-content slider-content-2">
                                <div class="slider-top-btn mb-20" data-animation="fadeInLeft" data-delay="1.5s" style="animation-delay: 1.5s;">
                                    <a href="shop.html" class="st-btn b-radius">HOT DEALS</a>
                                </div>
                                <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">BIG SALE <br> TOP HEADPHONE</h2>
                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">Best Sport Edition 2022</p>
                                <div class="slider-bottom-btn mt-65">
                                    <a data-animation="fadeInUp" data-delay="1.15s" href="shop.html" class="st-btn-border b-radius-2">Discover now</a>
                                </div>
                            </div>
                        </div><!-- /single-slider -->
                        <div class="single-slider swiper-slide b-radius-2 slider-height-3 d-flex align-items-center" data-background="{% static "assets/img/slider/03-slide-2.jpg" %}">
                            <div class="slider-content slider-content-2">
                                <div class="slider-top-btn mb-20" data-animation="fadeInLeft" data-delay="1.5s" style="animation-delay: 1.5s;">
                                    <a href="shop.html" class="st-btn b-radius">HOT DEALS</a>
                                </div>
                                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">GEAR 360<br> WiRELESS LARBUDS</h2>
                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.7s">Top Quality Earbuds & Accessories</p>
                                <div class="slider-bottom-btn mt-65">
                                    <a data-animation="fadeInUp" data-delay="1.9s" href="shop.html" class="st-btn-border b-radius-2">Discover now</a>
                                </div>
                            </div>
                        </div><!-- /single-slider -->
                        <div class="single-slider b-radius-2 swiper-slide slider-height-3 d-flex align-items-center" data-background="{% static "assets/img/slider/03-slide-3.jpg" %}">
                            <div class="slider-content slider-content-2">
                                <div class="slider-top-btn mb-20" data-animation="fadeInLeft" data-delay="1.5s" style="animation-delay: 1.5s;">
                                    <a href="shop.html" class="st-btn b-radius">HOT DEALS</a>
                                </div>
                                <h2 data-animation="fadeInLeft" data-delay="1.5s" class="pt-15 slider-title pb-5">LIMITED<br> 
                                WEEK DEALS</h2>
                                <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.8s">Discount 20% On Products
                                </p>
                                <div class="slider-bottom-btn mt-65">
                                    <a data-animation="fadeInUp" data-delay="1.10s" href="shop.html" class="st-btn-border b-radius-2">Discover now</a>
                                </div>
                            </div>
                        </div><!-- /single-slider -->
                        <div class="main-slider-paginations"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">    
                    <div class="col-xl-6 col-lg-6">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-sm-6">
                                <div class="banner__item p-relative w-img mb-30">
                                    <div class="banner__img banner__img-2 b-radius-2">
                                        <a href="product-details.html"><img src="{% static "assets/img/banner/banner-17.jpg" %}" alt=""></a>
                                    </div>
                                    <div class="banner__content">
                                        <h6><a href="product-details.html">New Style <br> Bluetooh Speaker</a></h6>
                                        <p class="banner-p mt-30">Free Shipping 20km</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-sm-6">
                                <div class="banner__item p-relative w-img mb-30">
                                    <div class="banner__img banner__img-2 b-radius-2">
                                        <a href="product-details.html"><img src="{% static "assets/img/banner/banner-18.jpg" %}" alt=""></a>
                                    </div>
                                    <div class="banner__content">
                                        <h6><a href="product-details.html">Limited <br> Top Camera</a></h6>
                                        <p class="banner-p mt-30">Free Shipping 20km</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img banner__img-3  b-radius-2">
                                <a href="product-details.html"><img src="{% static "assets/img/banner/banner-19.jpg" %}" alt=""></a>
                            </div>
                            <div class="banner__content banner__content-3">
                                <div class="banner-df-btn mb-15">
                                    <a href="#" class="st-btn b-radius">HOT DEALS</a>
                                </div>
                                <p>Xbox Wireless</p>
                                <h6 class="df-title"><a href="product-details.html">Sale Up To 50% Off</a></h6>
                                <div class="bottom-btn">
                                    <a href="shop.html" class="st-btn-border-2 b-radius">Discover now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->
