{% load static %}
{% load custom_tag %}
 {% comment %} <!-- topsell__area-start -->
 <section class="topsell__area-1 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
                    <div class="section__title">
                        <h5 class="st-titile-d">Top Deals Of The Day</h5>
                    </div>
                    <div class="offer-time">
                        <span class="offer-title d-none d-sm-block">Hurry Up! Offer ends in:</span>
                        <div class="countdown">
                            <div class="countdown-inner b-radius" data-countdown="" data-date="Mar 02 2022 20:20:22">
                                <ul class="text-center">
                                    <li><span data-days="">36</span> Days</li>
                                    <li><span data-hours="">8</span> Hours</li>
                                    <li><span data-minutes="">16</span> Mins</li>
                                    <li><span data-seconds="">54</span> Secs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-bs-slider">
                <div class="product-slider swiper-container">
                    <div class="swiper-wrapper">
                        {% for top in topdeal%}
                        <div class="product__item swiper-slide">
                            <div class="product__thumb fix">
                                <div class="product-image w-img">
                                    <a href="product-details.html">
                                        <img src="{{top.featured_image}}" alt="product" style="height:238.59px;width:238.59px">
                                    </a>
                                </div>
                                <div class="product__offer">
                                <span class="discount">{{top.discount}}%</span>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-heart"></i>
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h6><a href="product-details.html">{{top.title}}</a></h6>
                                <div class="rating mb-5">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    </ul>
                                    <span>(01 review)</span>
                                </div>
                                <div class="price mb-10">
                                    <span>₹{{top.price}}</span>
                                </div>
                                <div class="progress mb-5">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress-rate">
                                    <span>Sold:312/1225</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                Add to Cart
                                </button>
                            </div>
                            <!-- cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100 -->
                        </div>
                        {% endfor%}
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="bs-button bs-button-prev"><i class="fal fa-chevron-left"></i></div>
                <div class="bs-button bs-button-next"><i class="fal fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- topsell__area-end --> {% endcomment %}
<!-- top-dels-start -->
<section class="top-dels light-bg-s pt-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-30">
                    <div class="section__title section__title-2">
                        <h5 class="st-titile-d st-titile-d-2">Top Deals Of The Day</h5>
                    </div>
                    <div class="offer-time">
                        <span class="offer-title d-none d-sm-block">Hurry Up! Offer ends in:</span>
                        <div class="countdown">
                            <div class="countdown-inner b-radius-2" data-countdown="" data-date="Mar 02 2022 20:20:22">
                                <ul class="text-center">
                                    <li><span data-days="">30</span> Days</li>
                                    <li><span data-hours="">9</span> Hours</li>
                                    <li><span data-minutes="">37</span> Mins</li>
                                    <li><span data-seconds="">38</span> Secs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-xxl-5 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
            {% for top in topdeal %}
            <div class="col">
                <div class="product__item product__item-2 b-radius-2 mb-20">
                    <div class="product__thumb fix">
                        <div class="product-image w-img">
                            <a href="product-details.html">
                                <img src="{{top.featured_image}}" alt="product" style="height:214.59px;width:214.59px">
                            </a>
                        </div>
                        <div class="product__offer">
                        <span class="discount">-{{top.discount}}%</span>
                        </div>
                        <div class="product-action product-action-2">
                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                <i class="fal fa-eye"></i>
                                <i class="fal fa-eye"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-heart"></i>
                                <i class="fal fa-heart"></i>
                            </a>
                            <a href="#" class="icon-box icon-box-1">
                                <i class="fal fa-layer-group"></i>
                                <i class="fal fa-layer-group"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product__content product__content-3">
                        <h6><a href="product-details.html">{{top.title|truncatewords:7}}</a></h6>
                        <div class="rating mb-5 mt-10">
                            <ul>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                            </ul>
                            <span>(01 review)</span>
                        </div>
                        <div class="price mb-20">
                            <span>₹{{top.price}}  <del class="text-secondary fw-normal">   ₹{% calculate_old_price top.price top.discount %}</del></span>
                        </div>
                        <div class="progress mb-5">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress-rate">
                            <span>Sold:{{top.available}}/{{top.total}}</span>
                        </div>
                    </div>
                    <div class="product__add-cart text-center">
                        <button type="button" class="cart-btn-3 product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                        Add to Cart
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>
<!-- top-dels-end -->

 <!-- shop modal start -->
 <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered product__modal" role="document">
        <div class="modal-content">
            <div class="product__modal-wrapper p-relative">
                <div class="product__modal-close p-absolute">
                    <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                </div>
                <div class="product__modal-inner">
                    <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product__modal-box">
                            <div class="tab-content" id="modalTabContent">
                                <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                    <div class="product__modal-img w-img">
                                        <img src="assets/img/quick-view/quick-view-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                    <div class="product__modal-img w-img">
                                        <img src="assets/img/quick-view/quick-view-2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                    <div class="product__modal-img w-img">
                                        <img src="assets/img/quick-view/quick-view-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                    <div class="product__modal-img w-img">
                                        <img src="assets/img/quick-view/quick-view-4.jpg" alt="">
                                    </div>
                                </div>
                                </div>
                            <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                        <img src="assets/img/quick-view/quick-nav-1.jpg" alt="">
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2" aria-selected="false">
                                    <img src="assets/img/quick-view/quick-nav-2.jpg" alt="">
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3" aria-selected="false">
                                    <img src="assets/img/quick-view/quick-nav-3.jpg" alt="">
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav4-tab" data-bs-toggle="tab" data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4" aria-selected="false">
                                    <img src="assets/img/quick-view/quick-nav-4.jpg" alt="">
                                    </button>
                                </li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product__modal-content">
                            <h4><a href="product-details.html">Samsung C49J89: £875, Debenhams Plus</a></h4>
                            <div class="product__review d-sm-flex">
                                <div class="rating rating__shop mb-10 mr-30">
                                <ul>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                </ul>
                                </div>
                                <div class="product__add-review mb-15">
                                <span>01 review</span>
                                </div>
                            </div>
                            <div class="product__price">
                                <span>$109.00 – $307.00</span>
                            </div>
                            <div class="product__modal-des mt-20 mb-15">
                                <ul>
                                    <li><a href="#"><i class="fas fa-circle"></i> Bass and Stereo Sound.</a></li>
                                    <li><a href="#"><i class="fas fa-circle"></i> Display with 3088 x 1440 pixels resolution.</a></li>
                                    <li><a href="#"><i class="fas fa-circle"></i> Memory, Storage & SIM: 12GB RAM, 256GB.</a></li>
                                    <li><a href="#"><i class="fas fa-circle"></i> Androi v10.0 Operating system.</a></li>
                                </ul>
                            </div>
                            <div class="product__stock mb-20">
                                <span class="mr-10">Availability :</span>
                                <span>1795 in stock</span>
                            </div>
                            <div class="product__modal-form">
                                <form action="#">
                                <div class="pro-quan-area d-lg-flex align-items-center">
                                    <div class="product-quantity mr-20 mb-25">
                                        <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                    </div>
                                    <div class="pro-cart-btn mb-25">
                                        <button class="cart-btn" type="submit">Add to cart</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="product__stock mb-30">
                                <ul>
                                    <li><a href="#">
                                        <span class="sku mr-10">SKU:</span>
                                        <span>Samsung C49J89: £875, Debenhams Plus</span></a>
                                    </li>
                                    <li><a href="#">
                                        <span class="cat mr-10">Categories:</span>
                                        <span>iPhone, Tablets</span></a>
                                    </li>
                                    <li><a href="#">
                                        <span class="tag mr-10">Tags:</span>
                                        <span>Smartphone, Tablets</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop modal end -->

  <!-- banner__area-start -->
  <section class="banner__area light-bg-s pb-10">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative w-img mb-30">
                    <div class="banner__img b-radius-2">
                        <a href="product-details.html"><img src= "{% static "assets/img/banner/banner-1.jpg" %}" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">Intelligent <br> New Touch Control</a></h6>
                        <p>Discount  20% On Products</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img b-radius-2">
                        <a href="product-details.html"><img src= "{% static "assets/img/banner/banner-2.jpg" %}" alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">On-sale <br> Best Prices</a></h6>
                        <p>Limited Time: Online Only!</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="banner__item p-relative mb-30 w-img">
                    <div class="banner__img b-radius-2">
                        <a href="product-details.html"><img src="{% static "assets/img/banner/banner-3.jpg" %}"  alt=""></a>
                    </div>
                    <div class="banner__content">
                        <h6><a href="product-details.html">Hot Sale <br> Super Laptops 2022 </a></h6>
                        <p>Free Shipping All Order</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner__area-end -->